@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color:black;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* HOME */

/* .home-logo{
    width:55%;
} */

/* .home-background{
    background-color:white;
} */


/* HEADER*/

.header-logo {
    width: 90px;
}

.header-icon {
    width: 45px;
}

.header-text {
    font-size: 1rem;
}

/* PRODUTOS */

.index-card {
    background-color: #212121;
    width: 11.3rem;
}

.index-img-card :hover {
    transform: scale(1.0);
    width: 11.3rem;
}

.index-titulo-produto {
    font-size: 1.1rem;
    text-align: center;
    color: white;
}

p {
    font-size: 0.6rem;
    text-align: center;
    color: grey;
}

.index-hover :hover {
    transform: scale(1.01);
}

.index-nhover :hover {
    transform: scale(1.0);
}


/* PRODUTO */

.produto-card{
    background-color: black;
}

.produto-titulo-produto{
    font-size: 2.5rem;
    text-align: center;
    color: white;
}
.produto-descricao-produto{
    font-size: 1rem;
    text-align: center;
    color: gray;
}

/* FOOTER */

.footer-logo {
    width: 6rem;
}

footer {
    background-color: black;
}

.footer-subtitulo {
    font-size: 1.2rem;
    color: white;
}

.footer-listas {
    list-style: none;
    font-size: 0.9rem;
    color: grey;
    padding: 0;
}

a.footer-link {
    text-decoration: none;
    color: gray;
}

a:hover.footer-link {
    text-decoration: none;
    color: white;
}

/* MODAL LOGIN */

.modal-title {
    text-align: center;
}

.modal-text-form {
    text-align: left;
}

a.modal-text:link {
    text-decoration: none;
}

.modal-text {
    color: black;
    font-weight: bold;
}

.modal-text :hover {
    color: red;
}

.modal-logo {
    width: 6rem;
}

.modal-text1 {
    font-weight: lighter;
    color: #424242;
}